
.heading{
    text-align: center;
    font-size: 4rem;
    color: aqua;
    padding: 3rem;
    border: 2px solid black;
    margin: 4rem 0;
    background:linear-gradient(to right,#00093c,#2d0b00);

}

.heading span{
    color: var(--pink);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--pink);
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
   /* padding: 2rem 9%;*/
   padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
}

 header .logo{
    font-size:3rem;
    color: var(--pink);
    margin-left: 0;
    font-weight: bolder;
    padding-left: 0;

 }

header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 1.5rem;
    padding: 0 1rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}
